.btn {
  display: inline-block;
  margin: 0 1em;
  border: none;
  background: none; }
  .btn span {
    display: block; }

/* ====================== lines button ==================================================*/
.lines-button {
  padding: 1rem 0.5rem;
  transition: .3s;
  cursor: pointer;
  user-select: none;
  border-radius: 0.28571rem;
  /* */ }
  .lines-button:hover {
    opacity: 1; }
  .lines-button:active {
    transition: 0; }

.lines {
  display: inline-block;
  width: 2rem;
  height: 0.28571rem;
  background: #ecf0f1;
  border-radius: 0.14286rem;
  transition: 0.3s;
  position: relative; }
  .lines:before, .lines:after {
    display: inline-block;
    width: 2rem;
    height: 0.28571rem;
    background: #ecf0f1;
    border-radius: 0.14286rem;
    transition: 0.3s;
    position: absolute;
    left: 0;
    content: '';
    -webkit-transform-origin: 0.14286rem center;
    transform-origin: 0.14286rem center; }
  .lines:before {
    top: 0.5rem; }
  .lines:after {
    top: -0.5rem; }

.lines-button:hover .lines:before {
  top: 0.57143rem; }
.lines-button:hover .lines:after {
  top: -0.57143rem; }

.lines-button.close {
  -webkit-transform: scale3d(0.8, 0.8, 0.8);
  transform: scale3d(0.8, 0.8, 0.8); }

.lines-button.arrow.close .lines:before, .lines-button.arrow.close .lines:after {
  top: 0;
  width: 1.11111rem; }
.lines-button.arrow.close .lines:before {
  -webkit-transform: rotate3d(0, 0, 1, 40deg);
  transform: rotate3d(0, 0, 1, 40deg); }
.lines-button.arrow.close .lines:after {
  -webkit-transform: rotate3d(0, 0, 1, -40deg);
  transform: rotate3d(0, 0, 1, -40deg); }

.lines-button.arrow-up.close {
  -webkit-transform: scale3d(0.8, 0.8, 0.8) rotate3d(0, 0, 1, 90deg);
  transform: scale3d(0.8, 0.8, 0.8) rotate3d(0, 0, 1, 90deg); }

.lines-button.minus.close .lines:before, .lines-button.minus.close .lines:after {
  -webkit-transform: none;
  transform: none;
  top: 0;
  width: 2rem; }

.lines-button.x.close .lines {
  background: transparent; }
  .lines-button.x.close .lines:before, .lines-button.x.close .lines:after {
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    top: 0;
    width: 2rem; }
  .lines-button.x.close .lines:before {
    -webkit-transform: rotate3d(0, 0, 1, 45deg);
    transform: rotate3d(0, 0, 1, 45deg); }
  .lines-button.x.close .lines:after {
    -webkit-transform: rotate3d(0, 0, 1, -45deg);
    transform: rotate3d(0, 0, 1, -45deg); }

.lines-button.x2 .lines {
  transition: background .3s .5s ease; }
  .lines-button.x2 .lines:before, .lines-button.x2 .lines:after {
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    transition: top .3s .6s ease, -webkit-transform .3s ease;
    transition: top .3s .6s ease, transform .3s ease; }

.lines-button.x2.close .lines {
  transition: background .3s 0s ease;
  background: transparent; }
  .lines-button.x2.close .lines:before, .lines-button.x2.close .lines:after {
    transition: top .3s ease, -webkit-transform .3s .5s ease;
    transition: top .3s ease, transform .3s .5s ease;
    top: 0;
    width: 2rem; }
  .lines-button.x2.close .lines:before {
    -webkit-transform: rotate3d(0, 0, 1, 45deg);
    transform: rotate3d(0, 0, 1, 45deg); }
  .lines-button.x2.close .lines:after {
    -webkit-transform: rotate3d(0, 0, 1, -45deg);
    transform: rotate3d(0, 0, 1, -45deg); }

/*# sourceMappingURL=buttons.css.map */
