// Brand Colors
$game-brand:       #777;
$game-brand-light: lighten($game-brand, 12%);
$game-brand-dark:  darken($game-brand, 15%);

// Breakpoints
$width-mobile: 600px;
$width-tablet: 768px;
$width-desktop: 980px;
$width-large-desktop: 1200px;

// Bourbon Neat Breakpoints
$mobile: new-breakpoint(max-width $width-mobile 4);
$tablet: new-breakpoint(max-width $width-tablet 8);
$desktop: new-breakpoint(max-width $width-desktop 12);
$large-desktop: new-breakpoint(min-width $width-mobile 12);

// Main Layout
$main-nav-height: 100px;

// Fonts
$helvetica: "Helvetica Neue", Helvetica, sans-serif;
$font-stack: 'ProximaNova', $helvetica;
$montserrat-stack: 'Montserrat', $font-stack;
